.App {
  font-family: sans-serif;
  text-align: center;
}
.border {
  border: 1px solid #ccc;
}
.backViolet {
  background: #b335dc !important;
  color: white !important;
}
.backgroundColor {
  background: #eaeaea;
}
.height-80 {
  height: 80px;
}
.padd-right {
  padding-right: 0px !important;
}
.padd-left {
  padding-left: 0px !important;
}
.pagetitle {
  border: 1px solid #d6d9dc;
  min-width: 800px;
}
.activedata {
  background-color: #ccc;
}
.button-corner {
  position: fixed !important;
  bottom: 120px;
  color: black !important;
  left: 86%;
  right: 14%;
  border: 0px !important;
  text-transform: capitalize !important;
}
textarea {
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  border: 1px solid #d6d9dc;
  border-radius: 3px;
  min-width: 800px;
  min-height: 400px;
  margin-bottom: 10px;
  padding: 7px;
  resize: none;
}
.footer {
  background-color: #3b5998;
  position: fixed;
  width: 100%;
  bottom: 0;
  color: white;
  font-size: 25px;
}
